h1{
    color: rgb(247, 197, 121);
    padding-left: 45%;
    background:rgb(107, 52, 61) ;
    padding-top: 2%;
    /* position: relative; */
}

form{
    border:  groove 2px red;
    padding:10% 10%; 
    margin-top:5%;
    margin-left:10% ;
    margin-right: 10%;
    margin-bottom:10% ;
    line-height: 1.8;
    background-color: rgb(213, 140, 140);
    border-radius: 10px;
    color: #FFFFFF;
}



#email{
    background-color:rgb(240, 200, 200);
    border: solid 2px red;
    border-radius: 10px;
}

#time{
    background-color:rgb(240, 200, 200);
    border: solid 2px red;
    border-radius: 10px;
    margin-bottom: 10px;
}
#Tname{
    background-color:rgb(240, 200, 200);
    border: solid 2px red;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task{
    border:  groove 2px red;
    padding:2% 2%; 
    margin-top:5%;
    margin-left:30% ;
    margin-right: 30%;
    margin-bottom:10% ;
    line-height: 1.8;
    background-color: rgb(213, 140, 140);
    border-radius: 10px;
    text-align: center;
    font-family: 'century gothic';
    position: relative;
}

.task h2{
    color: white;
    
}


/* CSS */
.button-24 {
  margin-top: 10px;
  background: #9f2846;
  border: 1px solid #883044;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: rgb(185, 65, 65);
  border: 1px solid red;
  background-position: 0 0;
  color: #f9f9f9;
}

.button-24:active {
  opacity: .5;
}

.deleteButton{
    position: absolute; /* Set the button to absolute positioning */
    top: 10px; /* Adjust the top and right values to position the button */
    right: 10px;
}




/* (A) TOGGLE BUTTON CONTAINER */
label.tog {
    /* (A1) DIMENSIONS */
    display: block; width: 50px; height: 30px;
   
    /* (A2) COSMETICS */
    border: 5px solid #cacaca;
    background: #cacaca;
    cursor: pointer;
  }


  /* (B) "INNER SWITCH" */
label.tog::before {
    /* (B1) DIMENSIONS */
    content: "";
    display: block; width: 50%; height: 100%;
   
    /* (B2) COSMETICS */
    background: #fff;
  }


/* (C1) HIDE CHECKBOX */
input.tog { display: none; }
 
/* (C2) CHANGE SWITCH POSITION */
input.tog:checked + label.tog::before {
  position: relative; left: 50%;
}
 
/* (C3) CHANGE COLOR */
input.tog:checked + label.tog {
  border: 5px solid #2285f5;
  background: #2285f5;
}