ul{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(77,37,136,255);
}
/* .copyright p{
  margin:0%;
  justify-content: center;
  align-items: center;
  color:grey;
} */
body{
  background-color: rgb(213,208,222);
  font-family: 'Roboto', sans-serif;
}
.title{
    color: rgba(255,255,255,255);

    background:rgba(77,37,136,255) ;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* position: relative; */
}
.logo {
  width: auto; /* Let the height determine the size */
  height: 50px; /* Set a fixed height */
  padding:5px 5px;
}
form{
    border:  groove 2px rgba(77,37,136,255);
    padding:10% 10%; 
    margin-top:5%;
    margin-left:10% ;
    margin-right: 10%;
    margin-bottom:10% ;
    line-height: 1.8;
    background-color: rgba(255,255,255,255);
    border-radius: 10px;
    color: #FFFFFF;
}



#email{
    background-color:rgb(213,208,222);
    border: solid 2px rgba(77,37,136,255);
    border-radius: 10px;
}

#time{
    background-color:rgb(213,208,222);
    border: solid 2px rgba(77,37,136,255);
    border-radius: 10px;
    margin-bottom: 10px;
}
#Tname{
    background-color:rgb(213,208,222);
    border: solid 2px rgba(77,37,136,255);
    border-radius: 10px;
    margin-bottom: 10px;
}

.task{
    border:  groove 2px red;
    padding:2% 2%; 
    margin-top:5%;
    margin-left:30% ;
    margin-right: 30%;
    margin-bottom:10% ;
    line-height: 1.8;
    background-color: rgb(213, 140, 140);
    border-radius: 10px;
    text-align: center;
    font-family: 'century gothic';
    position: relative;
}

.task h2{
    color: white;
    
}


/* CSS */
.button-24 {
  margin-top: 10px;
  background: #9f2846;
  border: 1px solid #883044;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: rgb(185, 65, 65);
  border: 1px solid red;
  background-position: 0 0;
  color: #f9f9f9;
}

.button-24:active {
  opacity: .5;
}

.deleteButton{
    position: absolute; /* Set the button to absolute positioning */
    top: 10px; /* Adjust the top and right values to position the button */
    right: 10px;
}



.stopBtn{
  position: absolute; /* Set the button to absolute positioning */
  bottom: 10px; /* Adjust the top and right values to position the button */
  right: 20px;
}


